[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
drf-nested-routers = "*"
django-filter = "*"
django-cors-headers = "*"
pyjwt = "*"
pytz = "*"
whitenoise = "*"
django = "==4.0.6"
gunicorn = "*"
reportlab = "*"
openpyxl = "*"
dj-database-url = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
